google_sheets_telegram.json
{
  "name": "Google Sheets -> AI -> Telegram",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "name"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "e98e4f51-2475-4c07-8898-3563dc75ba5a",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o",
        "messages": {
          "messageValues": [
            {
              "content": "=\"Напиши интересный и вовлекающий пост для Telegram-канала на следующую тему: \" + $json['Тема'] + \"\\nСделай пост с эмодзи, структурированным по абзацам. Добавь призыв к действию в конце.\""
            }
          ]
        }
      },
      "id": "2b6b5536-cbac-4537-b615-1887e45ab0ec",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "df47ecae-3dae-4e6f-ac34-8c8d82bd92bb",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
